.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: height .5s .2s;
    -o-transition: height .5s .2s;
    transition: height .5s .2s;
}

.content{
  width:200px;
  height:100px;
  /* border:1px solid silver; */
}
.flex-end { 
  -webkit-align-content: flex-end; 
  -ms-flex-line-pack: end; 
      align-content: flex-end; 
}
.inner-content{
  padding:10px;
  cursor: pointer;
}

body{
  margin: 0px;
  background: black;
}
.play-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display:block;
  width:80px;
  height:80px;
  padding-top: 14px;
  padding-left: 8px;
  line-height: 20px;
  border: 6px solid #fff;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background-color: rgba(0,0,0,0.5);
  font-size:20px;
  font-weight:bold;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  z-index:1;
}
.play-button:hover,.inner-content:hover .play-button {
  background-color: rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(255,255,100,1);
          box-shadow: 0px 0px 10px rgba(255,255,100,1);
  text-shadow: 0px 0px 10px rgba(255,255,100,1);
}
.image-sub-container{
  position: relative;
}
.text-container{
  color: white;
  padding: 10px 5px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.video-container{
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video-container iframe{
  border:0px;
}
.desc-container{
  width: 40%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #7171718a;
  margin: 0px 10px;
  padding:10px;
  position: relative;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    width: 100%;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.trailer-container{
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.item-active{
  border: 3px solid #009a84;
}
.event-title{
    font-size: 1.4em;
    color: #fff;
    width: 100%;
    font-weight: 700;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.event-lang{
  color:white;
}
.genere{
  padding: 5px 10px;
  border-radius: 30px;
  color:white;
  display: inline-block;
  border:1px solid white;
  margin: 10px 0px;
}
.fa-thumbs-up{
    font-size: 2em;
    color: green;
    border: 3px solid;
    padding: 10px;
    border-radius: 50%;
    width:28px;
    height: 28px;
    text-align:center;
}
.fa-thumbs-down{
    font-size: 2em;
    color: red;
    border: 3px solid;
    padding: 10px;
    border-radius: 50%;
    width:28px;
    height: 28px;
    text-align: center;
}
.fa-question{
    font-size: 2em;
    color: orange;
    border: 3px solid;
    padding: 10px;
    border-radius: 50%;
    width:28px;
    height: 28px;
    text-align: center;
}
.description-footer-wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
        -ms-flex-align: initial;
            align-items: initial;
    position: absolute;
    bottom: 0;
    padding:10px 0px;
}
.description-footer{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%
}
.footer-will-watch,.footer-help,.footer-wont-watch{
  text-align: center;
  cursor: pointer;
}
.footer-will-watch p,.footer-help p,.footer-wont-watch p{
  text-transform: capitalize;
  font-weight: 700;
  color: green;
  text-align: center;
}
.footer-will-watch p{
  color:green;
}
.footer-help p{
  color:orange;
}
.footer-wont-watch p{
  color:red;
}
.image-sub-container img{
  opacity: 1;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
.inner-content:hover .image-sub-container img,.item-active img{
  opacity: 0.5;
}